* {
  box-sizing: border-box;
}

.CourseSection {
  padding: 10vh 0vw 8vh 5vw;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'section' 'main';
}
.CourseInformation {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  grid-area: section;
}

main {
  grid-area: main;
}

p {
  text-align: center;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  text-align: center;
}

.infoTitle {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
}

/* Clear floats after the columns */

@media screen and (max-width: 1020px) {
  .CourseSection {
    padding: 10vh 0vw 8vh 0vw;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'main', 'section';
  }
  .CourseInformation {
    display: flex;
    margin-top: 10vh;
  }
}
