/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */

#GoogleMap {
  height: 75vh;
  border-radius: 10px;
}
.google__maps__container {
  display: grid;
  align-items: center;
}
