/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

.mapContainer {
  border: 1px solid black;
  margin: 40px;
  border-radius: 12px;
}
