.layoutHero {
  margin: 20px;
  height: 80vh;
  width: auto;
}

.layoutInformation {
  flex-direction: row;
}

.layoutTotals {
  margin: 50px 0 10px 0;
}

.totalWrapper {
  display: inline-block;
}

.tableContainer {
  margin-top: 50px;
}
