.layoutInformation {
  display: flex;
  max-width: 40vw;
}

.titleContainer {
  margin-top: 5vh;
  position: relative;
}

.layoutTitle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0vh;
  right: 0;
  margin: auto;
  height: 20px;
}

table {
  max-width: 50vw;
}

.titleContainer {
  display: flex;
  justify-content: center;
}

.totalcontainer {
  display: flex;
  justify-content: center;
}
