.layoutHero {
  margin: 20px;
  height: 100vh;
  width: auto;
}

.layoutTotals {
  margin: 15vh 0 10px 0;
  justify-content: center;
}

h4 {
  margin-top: 6vh;
}
.row {
  text-align: center;
}

.totalWrapper {
  margin-top: 3vh;
}

.tableContainer {
  margin-top: 10vh;
}
